# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Assorted .txt files
Sync/*.txt
Redeem/Resc/*.txt
# *.json
.webm

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Compiled Python Files
*.pyc
Util/drop_table_helper.py
Icons/Old Icons and pre-crops/Shelter2.png
Icons/Old Icons and pre-crops/porter-robinson-madeon-shelter-anime.png
Icons/Old Icons and pre-crops/Piano.jpg
Icons/Old Icons and pre-crops/Nagisa.jpg
Icons/Old Icons and pre-crops/Kurisu2.jpg
Icons/Old Icons and pre-crops/Kurisu.png
Icons/Old Icons and pre-crops/Kei.jpg
Icons/Old Icons and pre-crops/Bestgirl2.jpg
Icons/Old Icons and pre-crops/7e48d13b6708a90ad65174db9d564517_400x400.jpeg
*.webm
Resc/Toggled_Commands.json
Resc/Toggled_Commands.json
